{% macro random_int() %}{% for n in [0,1,2,3,4,5] %}{{ [0,1,2,3,4,5,6,7,8,9]|random }}{% endfor %}{% endmacro %}
{% set parts = [random_int(), random_int(), random_int(), random_int(), random_int()] %}
{% set unique_id = parts|join('-') %}

{% extends "layout.html" %}

{% block content_header %}
  {{ build_breadcrumb('Jitsi Meet Video Conferencing', '', 'compress', ['List']) }}
{% endblock %}

{% block content %}
  <section class="content">
    {% call build_list_containers('Jitsi Meet Video Conferencing', 'compress', size='12', add_button=False) %}
    You can connect to Jitsi Meet Video conferencing with this link:<br>
    <a href="https://meet.jit.si/{{ unique_id }}" target="_blank">https://meet.jit.si/{{ unique_id }}</a><br>
    <a href="mailto:?subject=Invitation for video conferencing&body=You can connect to Jitsi Meet Video conferencing with this link: https://meet.jit.si/{{ unique_id }}">Share this link</a>
    {% endcall %}
  </section>
{% endblock %}
