#!/bin/sh
# Copyright 2017 HUBERT Mickael  (see the AUTHORS file)
# SPDX-License-Identifier: MIT

case "$1" in
    build)
        python setup.py bdist
        ;;

    package)
        cp -R wazo_admin_ui_jit_meet_mickael-*.tar.gz ${pkgdir}/
        cp -R etc ${pkgdir}/
        ;;

    install)
        systemctl restart wazo-admin-ui
        ;;

    uninstall)
        systemctl restart wazo-admin-ui
        ;;

    *)
        echo "$0 called with unknown argument '$1'" >&2
        exit 1
    ;;
esac
